*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(243, 250, 248);
  font-family: Aria;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 400px;
  min-height: 450px;
  padding: 25px 40px;
  background-color: rgb(50, 48, 56);
  border-radius: 10px;
  box-shadow: 10px 10px 15px ;
}
.login img{
  height: 45px;
  width: 250px;
  border-radius: 5px;
  border: rgb(61, 100, 74);
  margin: 20px auto;
}
input{
  border: 1px solid rgb(0,0,0,0.2);
  width: 100%;
  outline: none;
  height: 45px;
  padding: 5px 3px;
  border-radius: 4px;
  font-size: 16px;
}
button{
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  background-color: black;
  color: antiquewhite;
  margin-top: 15px;
  transition: .5s ease-in-out;
}
button:hover {
  background-color: transparent;
  border: 1px solid;
  color: black;
}
.links{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.links a{
  text-decoration: none;
  color: antiquewhite;;
}